{% extends "base.html" %}

{% block "title" %}Testimonials{% endblock %} 
{% block "headline" %}Testimonials{% endblock %}

{% block "content" %} 

{{ flatpage.content }}

<h1>_Testimonials</h1>

{% if q_list %} 
    
    
    {% for q in q_list %}
        
        <blockquote>{{ q.quote }}</blockquote> 
        <p>Sagde {{ q.name }} 
        {% if q.place %} fra {{ q.place }} {% endif %} 
        {% if q.date %}  d. {{ q.date|date }} {% endif %}
        {% if q.event %}  til {{ q.event }} {% endif %}
        </p>
                  
    {% endfor %} 

{% else %}
    <p>”Koncerten var en sand musikalsk åbenbaring. Sjældent har man kunnet høre musik spillet med så megen koncentration og fordybelse. Mikkel Andersen skabte et perfekt univers, fuldstændig indkapslet i sig selv, hvor hver tone var levende og meningsfyldt. Der blev spillet på alle sjælens strenge, fra dyb refleksion og rolige betragtninger til blid, nostalgisk eller lidenskabelig kærlighed.</p>
<p>Mikkel Andersens koncert var et møde med skønheden, som åbner mod andre verdener og gør et stærkt indtryk på sjælen.”</p>
<p><i>Monica Papazu, mag. art., anmelder for Randers Amtsavisen</i></p>
<h1 align="center">________________</h1>
<br />
<p>”Her er Mikkel Andersen gået solo med værker af en håndfuld af guitarreperoirets kernekomponister i første halvdel af 1900-tallet - en velkomponeret sammensætning, hvor hver skæring giver én lyst til at lytte videre, og lige tage den næste med også.”</p>
<p><i>Helle Kristensen, Danmarks Radio P2</i></p>

{% endif %}
 
{% endblock %}
