{% extends "base_en.html" %}

{% block "title" %}Testimonials{% endblock %} 
{% block "headline" %}Testimonials{% endblock %}

{% block "content" %} 

<h1>_Testimonials</h1>

{% if q_list %} 
    
    
    {% for q in q_list %}
        
        <blockquote>{{ q.quote }}</blockquote> 
        <p>Sagde {{ q.name }} 
        {% if q.place %} fra {{ q.place }} {% endif %} 
        {% if q.date %}  d. {{ q.date|date }} {% endif %}
        {% if q.event %}  til {{ q.event }} {% endif %}
        </p>
                  
    {% endfor %} 

{% else %}
    <p>”The concert was a true musical epiphany. It is rare to hear music played with such concentration and depth. Mikkel Andersen created the perfect universe, completely encapsulated himself, making every tone lively and meaningful. He played on all the strings of the heart, from deep reflection and calm observations, to gentle, nostalgic or passionate love. Mikkel Andersen’s concert was a meeting with beauty, opening the door into new worlds and leaving a lasting imprint on the soul.”
</p>
<p><i>Monica Papazu, mag. art., music critic for Randers Amtsavisen</i></p>
<h1 align="center">________________</h1>
<br />
<p>”Here Mikkel Andersen has gone solo with a handful of pieces from the major guitar composers of the 19th century. It is a well-composed mix; at each turn, you long to hear more, and another one after that.”</p>
<p><i>Helle Kristensen, Danmarks Radio P2</i></p>
{% endif %}
 
{% endblock %}
