body {background: #217281 url(../img/node.png) 0 150px no-repeat; color: #2e3436;}
#main {background: url(../img/white.png);}

#header {margin: 18px auto; 
    height: 108px; 
    position: relative; 
    background: #2e3436; 
    color: #eeeeec;}

h1 {position: absolute; bottom: 0; left: 18px;}
#footer {background: #2e3436; 
    color: #babdb6;
    margin: 18px auto;}
#footer p {padding: 18px 18px 0;}
    
h1 {font-family: georgia; font-style: italic; color: #eeeeec;}

#primary-content, #sidebar {padding-top: 18px; margin-bottom: 36px;}
#secondary-content {padding-top: 72px; overflow: hidden;}
#primary-content img {border: 2px solid #000000; margin-bottom: 18px}

#sidebar .section {margin: 18px;}

#navigation {margin: 54px 18px;}
#navigation li {list-style-type: none; margin-bottom: 18px;}
#navigation a {display: block; 
    text-decoration: none;
    color: #eeeeec;
    padding-left: 12px;
    background: transparent url(../img/sprite.png) no-repeat 0 0;
    font-family: georgia;
    font-size:1.4em;
    line-height:2.15;}
    
#navigation li a:hover, li a:active, li a:focus {color: #000000;
    background-position: 0 -36px;}

#navigation li.current a {color: #2e3436;
    background-position: 0 -72px;}
