{% extends "base.html" %}
{% block "title" %}Bryllup{% endblock %}
{% block "headline" %}Bryllup{% endblock %}
{% block "content" %} 

<h2>Forlæng øjeblikket</h2> 

<p>Når den store beslutning er taget, tankerne er gjort, og man står på tærsklen til
en ny og glædelig tilværelse, kan man godt blive lidt stille og eftertænksom.
I løbet af en bryllupsdag er der tidspunkter, hvor eftertænksomheden let kan
gribe én.. Det kan være i kirken, før eller efter vielsesritualet, på Rådhuset, før
middagen, inden receptionen.</p>

<img src="{{ MEDIA_URL }}img/content/mikkel_5462.jpg" alt="Mikkel Andersen"/>

<p>Den klassiske guitar underbygger de følelser, der er på højkant denne dag og
giver rum til tanke og følelse.</p>

<p>Giv mig 20 minutter af jeres dag og jeg giver jer en uforglemmelig musikalsk
oplevelse. Med få ord fører jeg jer og jeres gæster ind i musikken så de smukke
toner, stemningen og ’billederne’ fra netop jeres bryllup vil stå tydeligt på neth-
inden for alle der var med.</p>

<p>Kontakt mig og lad mig høre jeres ønsker.</p>

{% endblock %}
