{% extends "base.html" %}
{% block "title" %}Forside{% endblock %}
{% block "headline" %}Mikkel Andersen{% endblock %}
{% block "content" %} 

<h2>Guitar Arrangementer</h2>

<p>Mikkel Andersen er guitarist     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


</p>

<h2>Ny CD</h2>
<p>ny cd ude hør eksempel     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h2>Kommende arrangementer</h2>
<p>næste arrangemnter</p>
<a>se alle arrangementer</a>

<div class="span-9">
<img src="{{ MEDIA_URL }}img/content/mikkel_5408.jpg" alt="Mikkel Andersen"/>
</div>
{% endblock %}

