{% extends "base.html" %}
{% block "title" %}Forside{% endblock %}
{% block "headline" %}Mikkel Andersen{% endblock %}
{% block "content" %} 

<h2>Velkommen</h2>

<p>Velkommen til Mikkel Andersens hjemmeside.
Her kan du klikke rundt og kigge på om der er
noget der passer til dit arrangement. Under links kan du se
hvad jeg ellers deltager i
– og læse mere om mig på ”om mikkel Andersen”
Prøv at klikke på
lydeksembler og hør
om det er noget, der fænger.
God fornøjelser
</p>

<img src="{{ MEDIA_URL }}img/content/mikkel_5408.jpg" alt="Mikkel Andersen"/>

{% endblock %}

