{% extends "base.html" %}
{% block "title" %}Forside{% endblock %}
{% block "headline" %}Mikkel Andersen{% endblock %}
{% block "content" %} 

<h2>Guitar Arrangementer</h2>

<p>Velkommen til min hjemmeside<br />
Jeg hedder Mikkel Andersen og er klassik guitarist.<br />
Du vil her kunne læse dels om mig, dels orientere dig om hvilke tilbud og koncerter, jeg har at byde på<br />
God fornøjelse</p>

<h2>Ny CD</h2>
<p>El Llanto de la Guitarra er titlen på en ny cd, der udkommer pr. 1. juni på Helikon Records.<br />
En lyrisk og poetisk udgivelse med booklet-tekst af forfatteren og oversætteren Peer Sibast. Indspilningen er foretaget i Store Heddinge Kirke på Stevns.<br />
CD’en kan bestilles her på siden eller hos Helikon Records og koster kr. 150, inklusiv forsendelse.<br />
Musikken på Cd’en kredser om et digt af den spanske digter Federico Garcia Lorca ved navn ”La Guitarra”. På CD´en er der musik af Isaac Albeniz, Johann Sebastian Bach, Heitor Villa-Lobos og Agustin Barrios Mangoré m.fl.<br />
CD’en indeholder 13 numre og et 16 siders teksthæfte. 
</p>

<h2>Kommende arrangementer</h2>
{% include "cal/event_list_snippet.html" %} 

<p><a href="/kalender/">Se alle kommende arrangementer</a></p>

<div class="span-9">
<img src="{{ MEDIA_URL }}img/content/mikkel_5408.jpg" alt="Mikkel Andersen"/>
</div>
{% endblock %}

