{% extends "base.html" %}
{% block "title" %}Kirkekoncert{% endblock %}
{% block "headline" %}Kirkekoncert{% endblock %}
{% block "content" %} 

<h2>Massage til sindet</h2> 

<p>’Massage til sindet – koncerterne’ henvender sig til menigheder, der ønsker et arrangement med eftertænksomhed, ro og tid til bare at lade tankerne ﬂyde. Og til dem, der værdsætter poetisk, teknisk og professionelt spillet klassisk guitar.</p>

<img src="{{ MEDIA_URL }}img/content/mikkel_5366.jpg" alt="Mikkel Andersen"/>

<p>Jeg spiller værker af Bach, Barrios, Albeniz m.ﬂ. Musikken åbner op for det bredest mulige spektrum af følelser og udtryk som fx. kærlighed, sorg, glæde, natur og indadvendthed.</p>

<p>En oplevelse, hvor kirkerummet understreger og bærer musikkens ’budskab’ til det enkelte menneske. Endvidere kan ’Massage til sindet’ indgå i gudstjenesten. Som præludium, postludium, intermezzo i forbindelse med lys-, allehelgens- eller andre typer gudstjenester, hvor den vanlige form ønskes tilføjet et nyt aspekt.</p>

{% endblock %}
