{% extends "base.html" %}
{% block "title" %}Profil{% endblock %}
{% block "headline" %}Mikkel Andersen{% endblock %}
{% block "content" %} 

<h2>Guitaristen</h2>

<p>Mikkel Andersen Født i 1972. Opvokset i Viby Sjælland. Solist og kammermusiker. Uddannet som guitarist på konservatorier i Danmark og England Berejst som solist og med diverse ensembler i USA, England, Canada, Italien, Polen, Østrig, Litauen, Letland, Estland, Færøerne, Tyskland og Rusland.
</p>

<div class="span-10">
<img src="{{ MEDIA_URL }}img/content/mikkel_5404.jpg" alt="Mikkel Andersen"/>
</div>

<div class="span-7 last">
    <p>Medlem af ensemblerne: Duoen Sanguine, Corona Guitar Kvartet og Trioen SyZyGy. Medvirker på en række indspilninger og udgivelser i Danmark og udlandet. Tilknyttet Køge Musikskole og MGK.</p>
</div>

{% endblock %}

