{% extends "base.html" %}
{% block "title" %}Musik{% endblock %}
{% block "headline" %}Musik{% endblock %}
{% block "content" %} 

<h2>Musikeksempler</h2>
<ul>
<li><a href="{{ MEDIA_URL }}audio/andreina.mp3">Andreina<a/></li>
<li><a href="{{ MEDIA_URL }}audio/canco_del_lladre.mp3">Canco del lladre<a/></li>
<li><a href="{{ MEDIA_URL }}audio/chaconne_I.mp3">Chaconne I<a/></li>
<li><a href="{{ MEDIA_URL }}audio/chaconne_II.mp3">Chaconne II<a/></li>
<li><a href="{{ MEDIA_URL }}audio/el_negrito_kort.mp3">El negrito<a/></li>
<li><a href="{{ MEDIA_URL }}audio/el_testament.mp3">El testament<a/></li>
<li><a href="{{ MEDIA_URL }}audio/julia_florida.mp3">Julia Florida<a/></li>
<li><a href="{{ MEDIA_URL }}audio/just_a_little_kort.mp3">Just a little<a/></li>
<li><a href="{{ MEDIA_URL }}audio/leyenda.mp3">Leyenda<a/></li>
<li><a href="{{ MEDIA_URL }}audio/mallorca.mp3">Mallorca<a/></li>
<li><a href="{{ MEDIA_URL }}audio/praeludium_5.mp3">Praeludium 5<a/></li>
<li><a href="{{ MEDIA_URL }}audio/praeludium_1.mp3">Praeludium 1<a/></li>
<li><a href="{{ MEDIA_URL }}audio/sarabande.mp3">Sarabande<a/></li>
<li><a href="{{ MEDIA_URL }}audio/vals_op_8.mp3">Vals op 8<a/></li>
</ul>
{% endblock %}

