{% extends "base.html" %}
{% block "title" %}Privat{% endblock %}
{% block "headline" %}Privat{% endblock %}
{% block "content" %} 

<h2>Musikalsk oplevelse</h2> 

<p>Vil du give dine gæster en helt særlig oplevelse hjemme hos dig selv? Lidt a la tidligere tiders soirees! Så brug 20 minutter i løbet af aftenen sammen med venneparret, familien eller kollegerne i selskab med mig og min klassiske guitar.</p>

<img src="{{ MEDIA_URL }}img/content/mikkel_5344.jpg" alt="Mikkel Andersen"/>

<p>En musikalsk oplevelse ved en privat sammenkomst kan tilføje en dimension, ud over det sædvanlige.</p>

<p>Helt sikkert er det, at der efter koncerten virkelig er noget at tale om. Gæsterne kan som i ’gamle dage’ under koncerten sidde ved bordet, hænge i sofaen eller stå ved kaminen. Klassisk musik var dengang noget, man samledes om, talte om og oplevede sammen som optakt, intermezzo eller Nachspiel ved den private fest.</p>

<p>Det er denne næsten glemte genre, jeg her tager op.</p>

<p>Kontakt mig for at få tilrettelagt et program, som passer netop til dit arrangement.</p>

{% endblock %}
