{% extends "base.html" %}
{% block "title" %}Virksomhed{% endblock %}
{% block "headline" %}Virksomhed{% endblock %}
{% block "content" %} 

<h2>Massage til sindet - Det kulturelle arrangement
</h2> 

<p>Der er mange mennesker på og omkring en virksomhed der efterspørger kulturelle arrangementer og events. Det kan være lige fra receptioner til indslag ved konferencer eller koncert for kunst - og medarbejderforeningen.</p>

<div class="span-9">
    <img src="{{ MEDIA_URL }}img/content/mikkel_5310.jpg" alt="Mikkel Andersen"/>
</div>

<div class="span-5 last">
    <p>’Massage til sindet – koncerten’ overrasker tilhøreren med sin ro og intimitet. Publikum bliver ført ind i musikken via en mundtlig introduktion, så de har mulighed for at være i øjenhøjde med musikken under selve koncerten.</p>
        
    <p>Massage til sindet er tænkt som et mentalt pusterum i en konference eller mødedag. Man lytter, slapper af og åbner sig for de stemninger og følelser som musikken fra den klassiske guitar afstedkommer. Koncerten kan nå alle uanset musiksmag eller musikkendskab.</p>

    <p>Kontakt mig og lad mig høre om jeres ønsker</p>
</div>


{% endblock %}

