{% if event_list %} 
    <table>
    <tr><th>Arrangement</th><th>Sted</th>
        <th>Dato</th><th>Tidspunkt</th></tr>
    {% for e in event_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{% if e.link %}
                    <a href="{{ e.link }}" 
                        title="{{ e.link }} ">{{ e.name }}</a>
                {% else %} {{ e.name }} 
                {% endif %}</td>
            <td>{% if e.address %}
                    <a href="http://maps.google.com/maps?&amp;q={{ e.address|urlencode }}" 
                        title="vis på kort">{{ e.loc }}</a>
                {% else %}{{ e.loc }}
                {% endif %}</td>
            <td class="e-date">{{ e.date.date|date }}</td>
            <td class="e-time">kl. {{ e.date.time|time }}</td>
        </tr>
    {% endfor %} 
    </table>

{% else %}
    <p>Der er desværre ikke planlagt nogen arrangementer i den nærmeste fremtid.</p>
{% endif %}
